<link href="dist/css/indexinfo.css" rel="stylesheet" media="all">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class = "row testclass">
    <div class="col-sm-9 col-md-9 main">
        <%for(i=0;i<5;i++){%>
        <div class="Thread">
            <div class="Thread-Info Left">
                <a href='#' class='UserTag'><h4>User</h4></a>
                <img class="Profile" src="https://www.w3schools.com/images/w3schools_green.jpg">
                <a href = '#' class='UserTag'><h4>User Tag</h4></a>
            </div>

            <div class="Thread-Info Middle">
                <h3>Thread Name</h3>
                <h4>Most recent Post</h4>
            </div>

            <div class="Thread-Info Right">
                <i class="fa fa-heart info"></i>
                <i class="fa fa-trash-o info"></i>
            </div>
            <a href="#"></a>
        </div>
        <%}%>

    </div>
</div>