<div class = "col-sm-3 col-sm-offset-2 col-md-3 col-md-offset-2 main">
    <div class = "panel panel-default">
        <%for(i=0;i<5;i++){%>
        <div class = "panel-heading"><%=UserID%></div> 
        <div class = "panel-body"><%=UserName%></div>
        <%}%>
    </div>
</div>