<button onclick="btnclicked()">Login</button>
<p id = "forgot"></p>
<script>
            function btnclicked(){
                document.getElementById("forgot").innerHTML = "Fixed";
                
            }
</script>