<link href="<%=Location%>dist/css/indexinfo.css" rel="stylesheet" media="all">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row testclass">
    <div class="col-sm-9 col-md-9 main">
        <div class='outer-color'>
            <% for (let i = 0; i < Threads.length; i++) {%>
            <a href='/Thread/<%=Threads[i].name%>' class='UserTag'>
                <div class="Thread">
                    <div class="Thread-Info Left">
                        <h4>
                            <%=Threads[i].count%>
                            Post(s)
                        </h4>
                    </div>

                    <div class="Thread-Info Middle">

                        <h3>
                            <b>
                                <%=Threads[i].name%>
                            </b>
                        </h3>

                    </div>

                </div>
            </a>
            <%}%>
        </div>
    </div>
</div>