
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="dist/css/threadinfo.css" rel="stylesheet" media="all">
</head>

<div class="container">
    <div class="jumbotron">
        <div class="media">
            <div class="media-body">
                <h1 class="media-heading">
                    <%=name%>
                </h1>
                <h4>Username:
                    <%=CurrentUser%>
                </h4>
                <h4>Major:
                    <%=major%>
                </h4>
                <h4>Classification:
                    <%=classification%>
                </h4>
            </div>
            <div class="media-right">
                <img src="img_avatar4.png" class="media-object" style="width:100px">
            </div>
        </div>
    </div>
</div>
<style>
    .container{
    margin-top: 90px;
    margin-left: 200px;
    
}
</style>