<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="">
<meta name="author" content="">

<title>"<%=pageTitle%>"</title>
<!-- Bootstrap core CSS -->
<link href="<%=Location%>dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">

<<<<<<< HEAD
<<<<<<< HEAD
<style>
	i3 {
		color: black;
	}
</style>

<nav class ="navbar navbar-inverse navbar-fixed-top">
	<div class= "container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href=="#">Flying Mongooses</a>
		</div>
		<ul class= "nav navbar-nav">
			<li class="active"><a href="#">Home</a></li>
		</ul>
		<form class="navbar-form navbar-left" action="action_page.php">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search">
				<div class="input-group-btn">
					<button class="btn btn-default" type="submit">
						<i3 class="glyphicon glyphicon-search"></i3>
					</button>
				</div>
			</div>
		</form>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#"><span class="glyphicon glyphicon-user"></span> User</a></li>
		</ul>
	</div>
</nav>
=======
>>>>>>> c850c4f3e3b4fdd73787ced3bc35f2589b9b6e64
=======
>>>>>>> c850c4f3e3b4fdd73787ced3bc35f2589b9b6e64
