<!--This is where the header template will go. Chloe this is where all of your code will go.-->

<style>
	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
	}
	.sidebar {
    	width: 180px;
	}

	@media (min-width: 768px) {
    	.main {
        	padding-right: 40px;
        	padding-left: 220px; /* 180 + 40 */
    	}
	}
</style>


<div class="container-fluid" >
    <div class="row">
        <div class="sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Recent Posts</a></li>
                <div class="well">
      				<p>ADS</p>
      			</div>
      			<div class="well">
        			<p>ADS</p>
      			</div>
            </ul>
        </div>
    </div>
</div>