<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/img/InkwellandQuill.png">
</head>

<body>
    <% include partials/content/ChangePasswordInfo.ejs%>
    <script src="/reload/reload.js"></script>
</body>

</html>
