<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/img/InkwellandQuill.png">
</head>
    <body>
        <% include partials/content/ForgotPasswordInfo.ejs%>
        <script src = "/reload/reload.js"></script>
    </body>

</html>