<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/img/InkwellandQuill.png">
</head>
    <body>
        <% include partials/content/ForgotPasswordInfo.ejs%>
    </body>
<script src = "/reload/reload.js"></script>
</html>